body {
  font-family: sans-serif;
  background-color: #000000;
}

#app {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gameboard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 5px 5px;
  height: 400px;
  width: 400px;
}

.field {
  border: 1px solid white;
}
